*{
    box-sizing: border-box;
}
 
.title{
  text-align: center;
}

#back-ground{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
  }
  #choices{
    padding-top: 50px;
  }
  .choice{
    position: relative;
    display: inline-block;
     width: 50%;
     padding: 20px;
     margin: 100px;
}

.choice >img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#choices{
    display: flex;
    flex: auto;
    width: 100%;
    height: 40%;
}