*{
    box-sizing: border-box;
    font-family: Helvetica;
    font-weight: 600;
}
 
.title{
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  background-image: linear-gradient(to left, #c5e04a, #515a27);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 50px;
}

#back-ground{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
  }
  #choices{
    padding-top: 50px;
  }
  .choice{
    position: relative;
    display: inline-block;
     width: 60%;
     padding: 20px;
     margin: 100px;
}

.choice >img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#choices{
    display: flex;
    flex: auto;
    flex-grow: 1;
    width: 100%;
    height: 50%;
}

#scoreboard{
  text-align: center;
}

#selection{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}